<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1>Niezażegnane problemy</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <td><h4 style="font-weight: bold;">Nazwa problemu</h4></td>
              <td class="pull-right"><h4 style="font-weight: bold;">Akcje</h4></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h4>Śmieci na Górze Parkowej</h4></td>
              <td>
                <button class="btn btn-primary pull-right">Zobacz</button>
                <button class="btn btn-default pull-right">Zmień status</button>
                <button class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Wygłoś komunikat</button>
                <button class="btn btn-danger pull-right">Usuń</button>
              </td>
            </tr>
          </tbody>
        </table>
      <h1>Zażegnane problemy</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <td><h4 style="font-weight: bold;">Nazwa problemu</h4></td>
              <td class="pull-right"><h4 style="font-weight: bold;">Akcje</h4></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h4>Dzikie wysypisko</h4></td>
              <td>
                <button class="btn btn-primary pull-right">Zobacz</button>
                <button class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Edytuj komunikat</button>
                <button class="btn btn-danger pull-right">Usuń</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>