<!-- <div class="container">
  <p>Hej</p>
  <p><%= @user.first_name %></p>
</div>
-->
<!-- CONTENT -->
  <div class="container" id="content">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        
        <div class="jumbotron">
          <h1>Mój profil</h1>
          <p>Edytuj swoje dane</p>
        </div>
        
        <p style="padding: 10px 0;">
          <span class="label label-success">TIP 1</span> 
          Możesz zmienić np. tylko swój e-mail i hasło. Nie musisz zmieniać wszystkich danych.
        </p>
        <p style="padding: 0 0 10px 0; font-size: 14px;">
          <span class="label label-success">TIP 2</span> 
          Dane możesz zaktualizować nadpisując aktualne i zatwierdzając je przyciskiem "Aktualizuj dane"
        </p>
        
        <!-- FORM PLACE -->
        
      </div>
    </div>
  </div>  