  <div class="container" id="content">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="jumbotron">
          <h1>Mój profil</h1>
          <p><%= button_to 'Edytuj swoje dane', edit_profile_path, method: :get, class: "btn btn-success" %></p>
        </div>
        <p>Imię: <%= @user.first_name %></p>
        <p>Nazwisko: <%= @user.last_name %></p>
      </div>
    </div>
  </div>  