<div class="container">
  <div class="jumbotron">
    <h1>Witaj mieszkańcu.</h1>
    <p>Zauważyłeś jakiś problem w naszym mieście? Nie czekaj i nie pozostań obojętnym!</p>
    <p>Załóż konto już dziś, zgłoś problem, a my zajmiemy się ręsztą. Dbaj o swoje miasto.</p>
    <%= link_to :login do %>
      <button type="button" class="btn btn-lg btn-success">Zaloguj się lub zarejestruj</button>
    <% end %>
  </div>
</div>