body {
  h2.report_date {
    margin-bottom: 0px;
    text-align: center;
    margin-top: 3px;
  }
  
  h3.report_time {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 3px;
  }
  
  div.report-alert {
    margin-top: 25px;
  }
}