body {
  h2.report_date {
    margin-bottom: 0px;
    text-align: center;
    margin-top: 3px;
  }
  
  h3.report_time {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 3px;
  }
  
  div.report-alert {
    margin-top: 25px;
  }
  
  .fancybox-opened {
    .fancybox-skin {
      background: rgba(23, 48, 78, 1) !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }
  }
  
  .fancybox-close {
    top: 0px !important;
    right: 0px !important;
    
    &:hover {
      background-color: transition !important;
    }
  }
}