<div class="container" id="content">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="jumbotron">
        <h1>Nazwij i opisz zdarzenie oraz wgraj zdjęcie weryfikujące jego istnienie.</h1>
        <p>Wybierz także odpowiednią kategorię i wskaż miejsce, gdzie pojawił się problem, a następnie je wyślij. Zgłoszenie zostanie wysłane do odpowiedniego wydziału, gdzie odpowiedzialni ludzie zajmą się twoim problemem.</p>
      </div>
    </div>
  </div>
</div>
<%= render 'form' %>