<footer class="navbar navbar-inverse" style="margin: 0; margin-top: 20px;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= t('.domain') %></a>
    </div>
    <div class="collapse navbar-collapse" id="copyrights">
      <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text">Copyrights © <%= Time.now.year %> by <%= t('.domain') %>. All rights reserved.</p>
      </ul>
    </div>
  </div>
</footer>